/* Header rejilla */

.header.content {
    display: grid; 
    grid-template-columns: auto 1fr;
    padding: 0; 
    align-items: center;
    padding: 12px 0;
}

.header.content::before {
    display: none;
}

header .logo {
    grid-area: 1 / 1 / 3 / 2; 
    margin: 0; 
    max-width: 100%;
}

header .panel.wrapper {
    grid-area: 1 / 2 / 2 / 3;
    display: grid; 
    grid-template-columns: 1fr auto;
    align-items: center;
    border-style: none !important;
    gap: 22px;
}

header .panel.wrapper a {
    color: #333333;
    font-weight: bold;
}

header .panel.header {
    margin: 0 !important;
    padding: 0 !important;
}

header .minisearch {
    display: grid;
    grid-template-columns: 1fr 120px;
}

header .action.advanced {
    display: none;
}

header .block-search {
    width: 90%; 
    justify-self: end;
}

header .input-text {
    height: 56px;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    padding: 0 26px;
}

header .block-search .control {
    padding: 0; 
}

header .action.search {
    position: static !important; 
    height: 100%;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background-color: #b8bf0d !important;
    width: 100%; 
    opacity: 1 !important;
}

header .action.search::before {
    color: #fff !important;
    font-size: 28px !important;
}

/* Ocultamos item.link.compare */

.item.link.compare, .greet.welcome, .link.wishlist {
    display: none !important; 
}

header .minicart-wrapper .action.showcart:before, header .minicart-wrapper .action.showcart.active:before {
    display: none;
}

/* Carrito de compras */

header .minicart-wrapper {
    margin-left: 0 !important; 
}

header .action.showcart {
    display: flex !important; 
    align-items: center;
}

header .header.links {
    display: grid !important;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 22px;
    list-style-type: none !important;
}

header .header.links li:nth-child(2) {
    order: 2;
}

header .header.links li:nth-child(2) a {
    display: flex; 
    align-items: center;
}

header .header.links li:nth-child(2) a:before {
    content: ""; 
    display: block; 
    background-image: url("../images/Cuenta.svg");
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    height: 36px;
    width: 32px; 
    margin-right: 16px;
}

/* Telefonos */

.header-phone {
    display: grid !important;
    grid-template-columns: auto 1fr;
    gap: 28px;
    align-items: center;
    margin-left: 0 !important;
}

.header-phone a {
    font-weight: normal !important;
}

/* Contador de productos en el carrito */

.minicart-wrapper .action.showcart .counter.qty {
    background-color: #b8bf0d;
    border-radius: 50%;
    display: inline-block !important;
    margin: 12px 0 0 -12px;
    transform: scale(0.8);
}

/* Categorias */

.navigation ul {
    display: grid !important;
    grid-template-columns: repeat(11, auto);
    align-items: center;
    justify-items: center;
    padding: 12px 0 !important;
}

.navigation ul li a {
    line-height: 18px !important;
    text-align: center;
    border-style: none !important
}

.nav-sections-item-content, .nav-sections-item-content .navigation{
    background-color: #243137;
}

.nav-sections-item-content a {
    color: #fff !important;  
}

/* Header: 1300px */

@media (max-width: 1300px) {

    .header.content {
        padding: 10px 20px 0 20px;
    }

}

@media (max-width: 980px) {

    .sections.nav-sections {
        overflow-x: scroll;
        background-color: #243137 !important;
    }

    .section-item-title {
        border-style: none !important; 
        background-color: #243137 !important;
        border-right: 1px solid #4e636d !important;
        border-bottom: 1px solid #4e636d !important;
    }

    .section-item-title a {
        color: #fff !important;
    }

}

@media (max-width: 900px) {

    .header.links {
        grid-template-columns: 1fr !important;
        margin: 0 !important;
        align-items: center;
        padding: 0 !important;
    }

    .header.links li {
        margin: 0 !important;
    }

    .header-phone {
        display: none !important;
    }

}

@media (max-width: 767px) {

    .header.content {
        grid-template-columns: auto auto 1fr;
        column-gap: 16px;
        padding-bottom: 12px;
    }

    .nav-toggle {
        position: static !important;
    }

    .logo {
        grid-area: auto !important;
        grid-area: 1 / 2 / 2 / 3 !important;
        width: 82px !important;
    }

    .panel.wrapper {
        grid-area: 1 / 3 / 2 / 4 !important;
    }


    header .header.links li:nth-child(2) a {
        justify-content: flex-end;
        font-size: 0 !important; 
    }

    .minicart-wrapper {
        margin-top: 0 !important;
    }
    
    .header-nav-link {
        display: none !important;
    }

    .block.block-search {
        grid-area: 2 / 1 / 3 / 4;       
        width: 100% !important;
    }

    .input-text {
        position: static !important;   
        height: 38px !important;  
        margin: 0 0 0 0 !important;
    }

    .action.search {
        display: block !important; 
        height: 38px !important; 
        color: #fff;
    }

    .field.search .label {
        display: none !important;
    }

    .minisearch .actions {
        display: flex !important;
        align-items: center;
    }

    .minisearch .control {
        border-style: none !important;
        margin: 0 !important;
    }

    .header.content {
        border-bottom: 6px #243137 solid;
    }

    .nav-sections {
        background-color: #243137;
    }

    .navigation ul {
        display: flex !important; 
        flex-direction: column; 
        align-items: flex-start;

    }

    .navigation ul li {
        width: 100%; 
        padding: 12px 0;
        border: 1px solid #324249 !important;
    }

    .navigation ul li a {
        text-align: left;
    }

}

/* Hasta la vista baby */

.action.primary {
    background-color: #b8bf0d !important;
    border-style: none !important;
}